# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# pycharm
.idea
.parcel-cache/89a6a8fa1e530cf3
.parcel-cache/91eb430d4820cadb
.parcel-cache/658d76a3cd2d7621.txt
.parcel-cache/3076faa8511be6e2.txt
.parcel-cache/7155e751b2f04c14
.parcel-cache/d43c1a783b32ded4
.parcel-cache/e0ff2bac7c21dcee
.parcel-cache/e6301361fe420b90
.parcel-cache/f46693e18cff83c5
